body {
  font-family: Arial, Helvetica, sans-serif;
}
p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
}
img {
  display: block;
  max-width: 100%;
}
.btn {
  border: darkgrey 3px solid;
  padding: 10px 30px;
  color: darkgrey;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: bolder;
}
.btn:hover {
  color: rgb(255, 241, 44);
  border-color: rgb(255, 241, 44);
}
.subtitle {
  font-weight: bolder;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.1em;
  color: black;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.subtitle:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #000;
  margin: 8px auto;
}
/*Pag Sobre */
.subtitulo-interno {
  font-weight: bolder;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.1em;
  color: black;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.subtitulo-interno:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #000;
  margin: 8px 0;
}

.header {
  background-color: darkgrey;
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100%;
  padding: 15px 0;
}

.header_menu {
  text-align: right;
  margin-top: 20px;
}
.header_menu ul li {
  display: inline-block;
  margin-left: 25px;
  margin-right: 20px;
}
.header_menu ul li a {
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 20px;
  font-size: 14px;
  letter-spacing: 0.1em;
  padding: 10px 0;
}
.header_menu ul li a:hover {
  color: #fff;
}
.header_menu ul li a.menu_ativo {
  color: #fff;
}
/* introducao*/
.introducao {
  width: 100%;
  height: 380px;
  background: url("../img/bg.jpg") no-repeat center;
  background-size: cover;
  margin-top: 90px;
  text-align: center;
  padding-top: 80px;
}
.introducao h1 {
  color: #fff;
  font-size: 48px;
  line-height: 60px;
  font-weight: bold;
  text-transform: uppercase;
}
.comit {
  max-width: 320px;
  margin: 0 auto;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 40px;
}
.comit p {
  font-style: italic;
}
/*LINHA */
.comit p:before,
.comit p:after {
  content: "";
  display: block; /*Pois content por padrao coloca tudo em linha*/
  width: 60px;
  height: 3px;
  background: #fff;
  margin: 14px auto 10px auto;
}
.comit cite {
  font-style: normal;
  font-weight: bolder;
  font-size: 14px;
  letter-spacing: 0.1em;
}
/*Introducao-Pag- sobre*/
.introducao-interna {
  width: 100%;
  margin-top: 92px;
  height: 160px;
  background-size: cover;
  text-align: center;
  color: #fff;
  padding-top: 30px;
}
.introducao-interna h1 {
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
}
.introducao-interna h1::after {
  content: "";
  display: block; /*Pois content por padrao coloca tudo em linha*/
  width: 60px;
  height: 3px;
  background: #fff;
  margin: 6px auto 10px auto;
}

/*Produtos*/
.produtos {
  padding: 60px 0;
  text-align: center;
}
.container h2 {
  color: #000;
  font-size: 20px;
  line-height: 60px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin: 14px auto;
}
.produtos_lista li {
  background-color: darkgrey;
  border-radius: 10%;
  box-shadow: darkgrey;
  text-align: center;
}
.produtos_lista li img {
  margin: 0 auto;
}
.produtos_lista li h3 {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 25px;
  font-size: 18px;
  margin-top: 20px;
}
.produtos_lista li h3::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #000;
  margin: 2px auto;
}
.produtos_lista li p {
  padding: 10px 20px 20px 20px;
}
.produtos_icone {
  background-color: black;
  padding: 20px;
}
.produtos_icone p {
  padding: 10px auto;
}
.call {
  text-align: center;
}
.call p {
  padding: 40px;
  clear: both;
  position: relative;
}
/*Portifolio*/
.portifolio {
  background: #000;
  width: 100%;
  padding: 40px 0;
  text-align: center;
}
.portifolio .subtitle {
  color: #fff;
}
.portifolio .subtitle::after {
  background-color: #fff;
}
.portifolio-list li :last-child {
  margin-top: 20px;
}
.portifolio .call p {
  color: #fff;
}
/*QUALIDADE*/
.qualidade {
  padding: 60px 0;
  overflow: hidden; /*Clear-fix*/
}
.qualidade:after {
  content: "";
  position: absolute;
  display: block;
  z-index: -1;
  width: 634px;
  height: 83px;
  top: 225px;
  right: 162px;
  background: url(../img/linhas.svg) no-repeat center;
}
.qualidade img {
  margin: 0 auto;
  display: block;
}
.qualidade-lista {
  padding-top: 20px;
}
.qualidade-lista li {
  text-align: center;
  padding: 0 40px;
}
.qualidade-lista li h3 {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 25px;
  font-size: 15px;
  margin-top: 20px;
}
.qualidade-lista li h3::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #000;
  margin: 8px auto;
}
.quebra {
  width: 100%;
  height: 222px;
  background: url(../img/bg-footer.jpg) no-repeat center;
  background-size: cover;
  text-align: center;
  padding-top: 40px;
}
/*FOOTER */
.footer {
  width: 100%;
  background: #000;
  color: #fff;
  padding-top: 20px;
}
.footer h3 {
  color: #fec63e;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}
.footer h3:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #fec63e;
  margin: 6px 0 10px 0;
}
.footer_historia {
  padding-right: 40px;
}
.footer_contato ul li {
  font-size: 14px;
  line-height: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.footer_social ul li {
  display: inline-block;
  border: #fec63e;
  margin-right: 10px;
}
.footer_social ul li img {
  border: 3px solid #fec63e;
  display: block;
  padding: 10px;
}
.direitos {
  display: block;
  width: 100%;
  height: 70px;
  font-size: 14px;
  line-height: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  background: darkgrey;
}
.direitos p {
  padding: 20px 0px;
}
/*SOBRE*/
.missao_sobre .subtitulo-interno {
  text-align: left;
}
/**/
.js [data-slide]{
  position: relative;
}
.js [data-slide] > * {
  position: absolute;
  top: 0px;
  opacity: 0;
}
.js [data-slide] > .active {
  position: relative;
  opacity: 1;
  transition: opacity 500ms;
  z-index: 1;
}
/*slide bol*/
.js [data-slide-nav] {
  display: block;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}
.js [data-slide-nav] > button {
  display: inline-block;
  width: 12px;
  margin: 4px;
  height: 12px;
  border: none;
  padding: 0px;
  border-radius: 6px;
  background: #1d1d1d;
  text-indent: -100px;
  overflow: hidden;
}
.js [data-slide-nav] > button.active {
  background: #fec454;
}

/*Anime*/
.js [data-anime] {
  opacity: 0;
  transform: translate3d(0, -20px, 0)
}
.js .anime {
  opacity: 1;
  transform: none;
  transition: opacity 800ms;
  transform: 800ms;

  
}
/*Baixo/cima/direita/esquerda*/
.fadeInDown {
  transform: translate3d(0,-20px,0);
}
.fadeInUp {
  transform: translate3d(0,20px,0);
}
.fadeInRight {
  transform: translate3d(20px,0,0);
}
.fadeInLeft {
  transform: translate3d(-20px,0,0);
}